---
---
@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";

// Custom fonts
@font-face {
    font-family: "Monaspace Radon";
    src: url("../assets/fonts/MonaspaceRadonVarVF.ttf");
}
@font-face {
    font-family: "Monaspace Argon";
    src: url("../assets/fonts/MonaspaceArgonVarVF.ttf");
}
@font-face {
    font-family: "Monaspace Krypton";
    src: url("../assets/fonts/MonaspaceKryptonVarVF.ttf");
}

$base-font-family: "Monaspace Argon", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$link-base-color: #87cefa !default;

h1 {
    font-family: "Monaspace Radon", serif;
}

.highlight {
  border-radius: 20px;
  .highlighter-rouge {
    color: #212121;
  }
  pre {
    border-radius: 20px;

    code {
      font-family: "Monaspace Krypton", monospace;
    }

  }
}
