// Custom fonts
@font-face {
    font-family: "Monaspace Radon";
    src: url("../fonts/MonaspaceRadonVarVF.ttf");
}
@font-face {
    font-family: "Monaspace Argon";
    src: url("../fonts/MonaspaceArgonVarVF.ttf");
}
@font-face {
    font-family: "Monaspace Krypton";
    src: url("../fonts/MonaspaceKryptonVarVF.ttf");
}

$base-font-family: "Monaspace Argon", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$code-font-family: "Monaspace Krypton", "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;;
$dm-link-base-color: #87cefa !default;
