$custom-link-base-color: #87cefa !default;
$custom-link-visited-color: #517c97 !default;
$custom-link-hover-color: darken($custom-link-base-color, 15%) !default;

h1 {
    font-family: "Monaspace Radon", serif;
    font-weight: bold;
}

.highlight {
  border-radius: 20px;
  .highlighter-rouge {
    color: #212121;
  }
  pre {
    border-radius: 20px;
  }
}

/**
 * Links
 */
 a {
  color: $custom-link-base-color;
  text-decoration: none;
  transition: color .2s linear;

  &:visited {
    color: $custom-link-visited-color;
  }

  &:hover {
    color: $custom-link-hover-color;
    text-decoration: #212121;
    transition: color .2s linear;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
      transition: color .2s linear;
    }
  }
}